* {
  font-family: "Outfit", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Teko", sans-serif;
}

body #btn span {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: #f947ff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 2;
}
body .icon {
  width: 50px;
  color: white;
}

header {
  position: sticky;
  top: 0px;
  z-index: 3;
  background-color: black;
  color: white;
}
header nav a {
  font-size: 17px;
  padding: 10px;
  color: white;
}
@media (max-width: 990px) {
  header nav .link-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
}
header nav .link-nav .div a {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .custom-toggler {
  border: 1px solid #f947ff;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}
header .custom-toggler:hover {
  border-color: #f947ff;
}
header .custom-toggler .navbar-toggler-icon {
  width: 40px;
  height: 35px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='3' d='M4 6h22M4 14h22M4 22h22'/%3E%3C/svg%3E");
  transition: all 0.3s ease-in-out;
}
header .navbar-nav .nav-link {
  position: relative;
  text-decoration: none;
}
header .navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 0;
  height: 2px;
  background-color: #f947ff;
  transition: width 0.3s ease-in-out;
}
header .navbar-nav .nav-link:hover::after {
  width: 100%;
}

/*help-section*/
.help-section .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  /*MEDIA QUERY*/
}
@media (max-width: 1000px) {
  .help-section .content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
.help-section .content .img-content {
  background-image: url(images/donate18.jpg);
  background-size: cover;
  background-position: center;
  /*MEDIA QUERY*/
}
@media (max-width: 1000px) {
  .help-section .content .img-content {
    height: 400px;
  }
}
.help-section .content .help {
  background-color: #ec78f0;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.help-section .content .help h1 {
  font-size: 4rem;
  /*MEDIA QUERY*/
}
@media (max-width: 530px) {
  .help-section .content .help h1 {
    font-size: 3rem;
  }
}
.help-section .content .help button {
  border: none;
  background-color: white;
  color: black;
  padding: 12px;
  width: 200px;
  border: 2px solid white;
  transition: all 0.5s;
  font-weight: bold;
}
.help-section .content .help button:hover {
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

/*SHOWCASE-SECTION*/
.showcase-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/about.jpg);
  background-size: cover;
  background-position: center;
}
.showcase-section .showcase-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0 100px;
}
.showcase-section .showcase-content .content h1 {
  font-size: 5rem;
  color: white;
  /*MEDAI QUERY*/
}
@media (max-width: 520px) {
  .showcase-section .showcase-content .content h1 {
    font-size: 3rem;
  }
}
.showcase-section .showcase-content .content a {
  text-decoration: none;
  color: white;
  transition: all 0.5s;
}
.showcase-section .showcase-content .content a:hover {
  color: #f947ff;
}
.showcase-section .showcase-content .content .a {
  color: #f947ff;
}

/*infos-section*/
.infos-section .info-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  /*MEDIA QUERY*/
}
@media (max-width: 1200px) {
  .infos-section .info-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
@media (max-width: 500px) {
  .infos-section .info-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
.infos-section .content {
  box-shadow: 0 5px 10px 0 rgba(145, 143, 143, 0.1), 0 7px 21px 0 rgba(117, 116, 116, 0.1);
  padding: 10px;
  transition: all 0.5s;
}
.infos-section .content:hover {
  transform: translate(0, -10px);
}

.form-section h6 {
  color: #f947ff;
}
.form-section form input .form-control {
  height: 56px;
}
.form-section form .form-control {
  border: 1px solid gray;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.02);
}
.form-section button {
  background-color: #ec78f0;
  padding: 10px;
  border: none;
  border: 2px solid #f947ff;
  transition: all 0.5s;
}
.form-section button:hover {
  border: 2px solid #f947ff;
  background-color: transparent;
  color: #02020a;
}

/*FOOTER*/
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 10px;
  background-color: #02020a;
  /*MEDIA QUERY*/
}
@media (max-width: 770px) {
  .footer-content {
    flex-direction: column;
    gap: 20px;
  }
}
.footer-content .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footer-content .icons p {
  transition: all 0.5s;
}
.footer-content .icons p:hover {
  transform: translate(0, -5px);
}/*# sourceMappingURL=contact.css.map */